.p_main_sec {
    padding: 30px 30px 50px 30px;
}

.p_main_sec .heading_p {
    color: #717070;
    padding-bottom: 20px;
    text-align: center;
}

.p_main_sec .card {
    margin: 20px 0;
    border: 0px
}

.pro_sale {
    background: #f8c73d;
    color: black;
    position: absolute;
    top: -13px;
    left: -9px;
    font-size: 18px;
    text-transform: uppercase;
    width: fit-content;
    padding: 3px 11px;
    border-radius: 3px;
}

.p_main_sec .card .card-body {
    height: 230px;
}

.p_main_sec .card p {
    margin-bottom: 12px;
}

.p_main_sec .card .card-footer {
    background: transparent;
    padding: 0;
    border: 0;
}

.c_btn_left {
    width: 50%;
    float: left;
    background: #3f80bf;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    border-radius: 0;
    padding: 10px 0;
    font-size: 12px;
    text-decoration: none;
    border: 2px solid #3f80bf;
}

.c_btn_left:hover {
    color: #3f80bf;
    background: transparent;
}

.c_btn_right {
    width: 50%;
    float: left;
    background: #32679a;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    border-radius: 0;
    padding: 10px 0;
    font-size: 12px;
    text-decoration: none;
    border: 2px solid #32679a;
}

.c_btn_right:hover {
    color: #32679a;
    background: transparent;
}