.login {
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  width: 100%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  border-bottom: 8px solid #2463a1;
}
.login:hover {
  border: none;
  border-bottom: 8px solid yellow;
}
.login i {
  padding: 20px;
}
.login h3 {
  padding: 30px;
}

.accounts {
  margin-top: 150px;
  padding: 40px;
}
