.login {
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  width: auto;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  border-bottom: 10px solid #6c5ea6;
  background-color: white;
}
.login h3 {
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  text-shadow: -1px -1px 0 #2463a1, 1px -1px 0 #2463a1, -1px 1px 0 #2463a1,
    1px 1px 0 #2463a1;
}
.login:hover {
  border: none;
  border-bottom: 10px solid #ffbe00;
}
.login:hover i {
  color: #ffbe00;
}
.login i {
  padding: 10px;
  color: black;
}
.login h3 {
  padding: 30px;
}

.accounts {
  margin-top: 150px;
  padding: 40px;
}
.account-section {
  background-image: url(./res/background.jpg);
  height: 100vh;
  padding-top: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

html,
body {
  margin: 0;
  height: 100%;
}
